@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --blue: #2000E7;
    --lightBlue: rgba(67, 186, 253, 0.06);
    --darkGrey: #383838;
    --grey: #686565;
    --pink: #F965FC;
    --yellow: #F2BD00;
    --lightYellow: rgba(255, 214, 150, 0.20);
    --black: #000;
    --btn-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

header {
    margin: 45px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

header nav ul li {
    margin-left: 80px;
    font-size: 30px;
    font-weight: 400;
}

header nav a {
    color: var(--grey);
    text-decoration: none;
}

header nav a:hover {
    color: var(--blue);
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--blue);
    margin: 0px;
}

h2 span {
    color: var(--yellow);
}

.text h2 {
    letter-spacing: 16px;
}

.head h2 {
    letter-spacing: 16px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    color: var(--blue);
    margin: 0 0 5px 0;
}

p {
    font-size: 24px;
    font-weight: 400;
    color: var(--darkGrey);
}

main {
    display: flex;
    justify-content: space-between;
    margin: 200px 80px;
}

.about {
    max-width: 616px;
}
 

.image-container {
    border-radius: 0px 0px 0px 191px;
    background-image: url(../images/Steven.png);
    background-size: auto;
    width: 564px;
    height: 564px;
    box-shadow: 36px -32px 0px 0px rgba(135, 117, 249, 0.50);
}

.btn-primary {
    width: 246px;
    height: 72px;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: var(--btn-shadow);
    font-size: 24px;
    color: #fff;
    margin-right: 80px;
}

.btn-primary:hover {
    width: 246px;
    height: 72px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    background-color: #fff;
    box-shadow: none;
    font-size: 24px;
    color: var(--blue);
    margin-right: 80px;
    cursor: pointer;
}

.btn-secondary {
    width: 246px;
    height: 72px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    background: rgba(32, 0, 231, 0.04);
    box-shadow: var(--btn-shadow);
    font-size: 24px;
    color: var(--blue);
}

.btn-secondary:hover {
    width: 246px;
    height: 72px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    background: var(--blue);
    box-shadow: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.about-me {
    display: flex;
    justify-content: space-between;
    background-color: var(--lightBlue);
}

.about-me .text {
    width: 30%;
    padding: 120px 80px;
}

.image-container-2 {
    background-image: url(../images/aboutme.png);
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-yellow {
    background-color: var(--lightYellow);
    padding: 120px 120px;
}

.head {
    text-align: center;
}

.bg-yellow .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.bg-yellow .card {
    width: 246px;
    height: 180px;
    margin: 24px;
    border-radius: 6px;
    transition: transform 200ms ease-in-out;
}

.bg-yellow .card:hover {
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0.9;
    transform: scale(1.1);
}

.bg-blue {
    background-color: var(--lightBlue);
    padding-top: 120px;
    padding-bottom: 120px;
}

.content {
    display: flex;
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-left: 80px;
}

form .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

}

.form-input {
    border: none;
    border-radius: 0px;
    padding-bottom: 80px;
    
}

.form-input input {
    width: 550px;
    height: 94px;
    border: none;
    padding: 0 55px;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: var(--black);
}

.form-input textarea {
    width: 550px;
    height: 265px;
    resize: none;
    border: none;
    padding: 30px 55px;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #000;
}

.btn-form {
    height: 94px;
    padding: 0 102px;
    border: none;
    border-radius: 0%;
    background-color: #fff;
    box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    color: #000;
    align-items: center;
    cursor: pointer;
}

.btn-form:hover {
    box-shadow: none;
    color: var(--blue);
}

.image-container-3 {
    background-image: url(../images/contact.png);
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-color: var(--lightYellow);
    padding: 0 80px;
    font-family: 'Jost', sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 140px;
}

.logo-footer {
    background-image: url(../images/UniDesign-footer.svg);
    width: 386px;
    height: 72px;
    background-size: auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.logo form {
    display: flex;
}

.form-footer input {
    position: relative;
    max-width: 210px;
    height: 94px;
    border: none;
    border-radius: 30px;
    padding: 0 60px 0 30px;
    font-family: 'Jost', sans-serif;
    font-size: 31px;
    font-weight: 700;
    color: #fff;
    background-color: var(--black);
}

.btn-footer {
    position: absolute;
    left: 320px;
    height: 94px;
    padding: 0 16px;
    font-family: 'Jost', sans-serif;
    font-size: 31px;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    color: #fff;
    background-color: var(--pink);
    cursor: pointer;
}

.btn-footer:hover {
    background-color: var(--blue);
}

.menu {
    display: flex;
}

.item {
    font-family: 'Jost', sans-serif;
    padding-left: 80px;
}

ul {
    margin: 0;
    padding: 0;
    
}

h4 {
    font-size: 31px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 40px;
}

.item li {
    font-size: 31px;
    font-weight: 400;
    list-style: none;
    padding-bottom: 46px;
}

.divider {
    border: 1px solid var(--black);
}

.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

.additional p {
    font-family: 'Jost', sans-serif;
    font-size: 31px;
    font-weight: 400;
    color: var(--black);
}

.social-media button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 40px;
}

.icon-yb {
    background-image: url(../images/youtube.svg);
    width: 72px;
    height: 72px;
}

.icon-in {
    background-image: url(../images/instagram.svg);
    width: 72px;
    height: 72px;
}

.icon-fb {
    background-image: url(../images/facebook.svg);
    width: 72px;
    height: 72px;
}

.icon-ln {
    background-image: url(../images/linkedin.svg);
    width: 72px;
    height: 72px;
}

.social-media button:hover {
    background-color: rgba(255, 214, 150, 0.50);
    border-radius: 50px;
    border: none;
}
